<link rel="stylesheet" type="text/css" href="/css/add_case_pg2_style.css">

<form action="/client/add_case_pg2" method="POST">
    <section class="container">
        <div id="main">
            <h1><strong>Please Select a Lawyer</strong></h1>
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <tr>
                            <th>Select</th>
                            <th>Lawyer's name</th>
                            <th>Age</th>
                            <th>No. of case worked</th>
                            <th>Description</th>
                            <th>Price per hour</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <% lawyers.forEach
                        (
                            (lawyer) => 
                            {
                                if(lawyer.is_profile_complete === "Y")
                                { %>
                                    <tr>
                                        <td>
                                            <label><input required type="radio" name="lawyer_id" value="<%= lawyer._id %>"></label>
                                        </td>
                                        <td><%= lawyer.fname %> </td>
                                        <td>age</td>
                                        <td>no of cases..</td>
                                        <td>this is the lawyers experience</td>
                                        <td>this will be his payment criteria</td>
                                    
                                        <td><form action="/lawyer/display_lawyer_profile/<%= lawyer._id %>" method="GET"><button type="submit">More Details</button></form></td>
                                    </tr>
                                <% }
                            }
                        ); %>
                      

                    </tbody>
                </table>
            </div>
            <div class="center">
                <button type="submit"><strong>Proceed</strong></button>
            </div>
        </div>
    </section>
</form>