body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

.pratik {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.pad {
  padding-right: 650px;
}
.passwordpad {
  padding-right: 620px;
}
button {
  background-color: #521d1d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 15%;
}

button:hover {
  opacity: 0.8;
}

.backbtn {
  width: 15%;
  padding: 10px 18px;
  background-color: #f44336;
}


.container {
  padding: 1px;
  

}

span.psw {
  float: right;
  padding-top: 15px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}